        div.general_container{
            width: 1340px;
            height: 665px;
            background-color: #19212C;
            display: flex;
            flex-direction: column;
        }
        #my-nav{
            width: 1315px;
            height: 90px;
            background-color: #262F3D;
            display: flex;
            justify-content: flex-end;
            align-content: center;
            padding-right: 25px
        }
        div.title_container{
            width: 250px;
            height: 70px;
            margin-right: 210px;
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        div.title_top_text{
            font-family: Arial, sans-serif;
            font-size: 22pt;
            font-weight: bold;
            color: #F0F0F0;
            margin-top: 20px;
            margin-bottom: 5px;
        }
        div.title_bottom_text{
            font-family: Arial, sans-serif;
            font-size: 6pt;
            color: #F0F0F0;
        }
        div.body_container{
            width: auto;
            height: 678px;
            display: flex;
            justify-content: start;
            padding: 25px
        }
        div.general_text_container{
            width: 200px;
            height: 75px;
            margin: 10px 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        div.general_text{
            height: 25px;
            color: #c9c9c9;
            font-size: 14px;
            font-family: Arial, sans-serif;
            margin-top: 15px;
            margin-bottom: 7px;
        }
        div.general_number{
            height: 50px;
            color: #F0F0F0;
            font-size: 18pt;
            font-family: Arial, sans-serif;
            font-weight: bolder;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        div.left_column{
            width: 250px;
            height: 617px;
            background-color: #262F3D;
            align-items: flex-start;
            border-radius:5px;
            margin-right: 16px;
            display: flex;
            align-content: center;
            flex-direction: column;
        }
        div.legend_container{
            width: 175px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-content: start;
            margin: 50px 25px 25px;
        }
        div.legend_item_container{
            width: 175px;
            height: 25px;
            margin-bottom: 5px;
            color: #F0F0F0;
            font-family: Arial, sans-serif;
            font-size: 10pt;
            display: flex;
            flex-direction: row;
        }
        div.legend_icon_green{
            width: 15px;
            height: 15px;
            margin-right: 10px;
            margin-left: 5px;
            background-color: #76B7B2;
        }
        div.legend_icon_red{
            width: 15px;
            height: 15px;
            margin-right: 10px;
            margin-left: 5px;
            background-color: #E15759;
        }
        div.legend_icon_blue{
            width: 15px;
            height: 15px;
            margin-right: 10px;
            margin-left: 5px;
            background-color: #4E79A7;
        }
        div.center_column{
            width: 250px; 
            height: 627px;
            margin-right: 16px; 
            display: flex; 
            flex-direction: column; 
            align-items: center;
        }
        div.right_column{
            width: 781px;
            height: 650px;
            margin-right: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        div.top_box{
            width: 250px;
            height: 95px;
            background-color: #262F3D; 
            border: 3px solid #E15759; 
            border-radius: 5px; 
            margin-bottom: 10px;
        }
        div.middle_box{
            width: 250px; 
            height: 230px; 
            background-color: #262F3D; 
            border: 1px solid #E15759; 
            border-radius: 5px; 
            margin-top: 15px;
            margin-bottom: 25px;
            display: flex;
        }
        div.bottom_box{
            width: 250px; 
            height: 244px; 
            background-color: #262F3D; 
            border: 1px solid #E15759; 
            border-radius: 5px;
        }
        div.right_container{
            width: 1047px;
            height: 627px;
            background-color: #262F3D;
            display: flex;
            align-items: center;
            border-radius: 5px;
        }
        div.right_top_container{
            width: 785px;
            height: 95px;
            display: flex; 
            align-items: center;
            margin-bottom: 20px;
        }
        div.right_top_blue_box{
            width: 250px;
            height: 95px;
            background-color: #262F3D; 
            border: 3px solid #4E79A7; 
            border-radius: 5px; 
            margin-right: 16px;
        }
        div.right_top_orange_box{
            width: 250px;
            height: 95px; 
            background-color: #262F3D;
            border: 3px solid #F28E2B;
            border-radius: 5px; 
            margin-right: 16px;
        }        
        div.right_top_green_box{
            width: 250px;
            height: 95px; 
            background-color: #262F3D; 
            border: 3px solid #76B7B2; 
            border-radius: 5px; 
            margin-right: 16px;
        }
        div.right_bottom_container{
            width:781px; 
            height: 503px;
            background-color: #323D4F; 
            border-radius: 10px;
            display: flex; 
            flex-direction: column; 
            align-items: flex-start;
        }
        div.title_tab{
            width: 100px;
            height: 30px;
            margin-right: 5px;
            margin-top: 30px;
            background-color: #3C4859;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nav-link{
            width: 100px;
            height: 30px;
            background-color: #3C4859;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: Arial, sans-serif;
            color: #F0F0F0;
            font-size: 10pt;
            font-weight: lighter;
        }
        .nav-link:hover{
            background-color: #BBBBBB;
            color: #333333;
        }
        .nav-link:active{
            background-color: #F0F0F0;
            color: #3C4859;
        }
        .nav-link.active{
            background-color: #F0F0F0;
            color: #3C4859;
        }
        div.text_container{
            width: 743px;
            height: 20px;
            display: flex;
            margin: 20px 20px 8px;
            font-family: Arial, sans-serif;
            font-weight: lighter;
            font-size: 16pt;
            color: #F0F0F0;
        }
        div.box_container{
            width: 742px;
            height: 95px;
            display: flex;
            align-items: center;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
        }
        div.blue_box{
            width: 222px;
            height: 95px;
            background-color: #262F3D;
            border: 1px solid #4E79A7;
            border-radius: 5px;
            display: flex;
            align-items: center;
        }
        div.orange_box{
            width: 222px;
            height: 95px;
            background-color: #262F3D;
            border: 1px solid #F28E2B;
            border-radius: 5px;
            display: flex;
            align-items: center;
        }
        div.green_box{
            width: 222px;
            height: 95px;
            background-color: #262F3D;
            border: 1px solid #76B7B2;
            border-radius: 5px;
            display: flex;
            align-items: center;
        }
        div.donut{
            background-color: #19212C;
            width: 250px;
            height: 230px;
        }
        div.stats-container{
            height: 25px;
            display: flex;
            align-items: center;
        }
        img.arrow{
            width: 25px;
            height: 25px;
            margin-left: 5px;
        }
        div.timeline_container{
            height: 617px;
            width: 1100px;
            display: flex;
            flex-direction: column;
            background-color: #262F3D;
            margin-right: 5px;
            border-radius: 7px;
        }
        div.content_container{
            height: 617px;
            width: 1100px;
            display: flex;
            flex-direction: column;
            background-color: #262F3D;
            margin-right: 5px;
            border-radius: 7px;
        }
        div.milestone_selected{
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 850px;
        }
        div.timeline_plot_container{
            width: 1100px;
            height: 500px;
        }
        div.plot_container{
            width: 1100px;
            height: 500px;
        }
        .scroll{
        width:100%;
        height:550px;
        overflow:scroll;
        float: left;
        }
        .scroll2{
        width:100%;
        height:625px;
        overflow:scroll;
        float: left;
        }
        div.comp_legend_container{
            width: 175px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-content: start;
            margin: 25px;
        }
        div.comp_legend_item_container{
            width: 175px;
            height: 15px;
            margin-bottom: 5px;
            color: #F0F0F0;
            font-family: Arial, sans-serif;
            font-size: 10pt;
            display: flex;
            flex-direction: row;
        }
        div.comp_legend_icon{
            width: 15px;
            height: 15px;
            margin-right: 10px;
            margin-left: 5px;
        }
        div.trend_legend_container{
            width: 175px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-content: start;
            margin: 25px;
        }
        div.trend_legend_item_container{
            width: 175px;
            height: 15px;
            margin-bottom: 5px;
            color: #F0F0F0;
            font-family: Arial, sans-serif;
            font-size: 10pt;
            display: flex;
            flex-direction: row;
        }
        div.trend_legend_icon{
            width: 15px;
            height: 15px;
            margin-right: 10px;
            margin-left: 5px;
        }
        div.rel_legend_container{
            width: 175px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-content: start;
            margin: 25px;
        }
        div.rel_legend_item_container{
            width: 175px;
            height: 15px;
            margin-bottom: 7px;
            color: #F0F0F0;
            font-family: Arial, sans-serif;
            font-size: 10pt;
            display: flex;
            flex-direction: row;
        }
        div.rel_legend_icon{
            width: 15px;
            height: 15px;
            margin-right: 10px;
            margin-left: 5px;
        }
        div.rel_legend_circle{
            width: 10px;
            height: 10px;
            margin-right: 10px;
            margin-left: 5px;
            border-radius: 50%;
            border-color: #F0F0F0;
            border-width: 2px;
            border-style: Solid;
        }
        div.rel_legend_square{
            width: 10px;
            height: 10px;
            margin-right: 10px;
            margin-left: 5px;
            border-color: #F0F0F0;
            border-width: 2px;
            border-style: Solid;
        }
        div.rel_legend_cross{
            width: 10px;
            height: 10px;
            margin-right: 12px;
            margin-left: 6px;
            font-weight: lighter;
            font-size: 14pt;
        }
        div.adh_legend_container{
            width: 200px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-content: start;
            margin-top: 25px;
        }
        div.adh_legend_item_container{
            width: 200px;
            height: 15px;
            margin-bottom: 7px;
            color: #F0F0F0;
            font-family: Arial, sans-serif;
            font-size: 10pt;
            display: flex;
            flex-direction: row;
        }
        div.adh_legend_icon{
            width: 15px;
            height: 15px;
            margin-right: 10px;
            margin-left: 3px;
        }
        div.adh_legend_circle{
            width: 15px;
            height: 15px;
            margin-right: 10px;
            margin-left: 3px;
            border-radius: 50%;
        }
        div.adh_content_container{
            height: 617px;
            width: 1100px;
            display: flex;
            flex-direction: column;
            margin-left: 10px;
        }
        div.adh_content_rows{
            height: 33%;
            width: auto;
            display: flex;
            flex-direction: row;
        }
        div.adh_content_cells{
            height: auto;
            width: 18.2%;
            display: flex;
            flex-direction: column;
            margin-right: 25px;
            border-radius:5px;
            background-color: #262F3D;
            align-items: center;
        }
        div.adh_donut_container{
            width: 75%;
            height: 75%;
            display: flex;
            align-items: center;
        }
        div.adh_cell_label{
            font-size: 12pt;
            font-weight: bold;
            color: #c9c9c9;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: row;
        }
        div.adh_TFL_Adhoc_Metric{
            font-size: 14pt;
            font-weight: bold;
            color: #F28E2B;
            font-family: Arial, sans-serif;
            margin-top: 50px;
        }
        div.adh_TFL_Adhoc_Target{
            font-size: 14pt;
            font-weight: bold;
            color: #4E79A7;
            font-family: Arial, sans-serif;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        div.ven_content_container{
            height: 627px;
            width: 1100px;
            display: flex;
            flex-direction: column;
            margin-left: 10px;
        }
        div.ven_content_rows{
            height: 49%;
            width: auto;
            display: flex;
            flex-direction: row;
        }
        div.ven_content_cells {
            height: auto;
            width: 25%;
            display: flex;
            flex-direction: column;
            margin-right: 25px;
            border-radius: 5px;
            background-color: #262F3D;
            align-items: center;
        }
        div.ven_donut_container{
            width: 75%;
            height: 75%;
            display: flex;
            align-items: center;
        }
        div.ven_cell_label{
            font-size: 16pt;
            font-weight: bolder;
            color: #c9c9c9;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: row;
            text-align: center
        }
        div.ven_Metric{
            font-size: 20pt;
            font-weight: bold;
            color: #F28E2B;
            font-family: Arial, sans-serif;
            margin-top: 50px;
        }
        div.ven_Target{
            font-size: 20pt;
            font-weight: bold;
            color: #4E79A7;
            font-family: Arial, sans-serif;
            margin-top: 25px;
            margin-bottom: 90px;
        }

